@media (max-width: 991px) {
    a:active {
        color:  var(--blue);    
    }

    button:active {
        background-color: var(--blue);
        border-color: var(--blue);  
    }
    
    .container { 
        padding-left: 50px;
        padding-right: 50px;        
    }

    /* header */
    .header__container {
        padding: 28px 26px; 
        margin-bottom: 67px;        
    }

    .header__nav {
        display: none;
    }

    .header__list {        
        gap: 30px;
    }

    /* hero */
    .hero__container {    
        padding-bottom: 0;    
    }

    .hero__title {
        max-width: 414px;
        font-size: 52px;
        font-weight: 400;
        line-height: 119.231%;
    }

    .hero__desc {   
        max-width: 426px;  
        padding-top: 27px; 
        padding-bottom: 67px;    
    }

    .hero__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        gap: 21px;
        padding-bottom: 57px;  
    }

    .hero__bg {  
        height: 700px;   
    }

    .hero__bg::before {
        left: -50px;
        right: -50px; 
        width: auto;        
        background-size: cover;        
    } 

    .hero__bg::after {        
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 100%);    
    }

    /* scope */
    .scope__container {        
        margin-bottom: 253px;    
    }

    .scope__desc {    
        padding: 27px 0;        
        max-width: 426px;    
    }

    .scope__content {
        display: flex;    
        flex-direction: column;
        gap: 143px;   
    }

    .scope__bg {        
        width: 324px;
        height: 319px;        
    }

    .scope__bg::after {        
        width: 232px;
        height: 160px;        
        left: 17%;        
    }

    /* extension */
    .extension__desc {
        padding-top: 20px; 
        padding-bottom: 54px;
        max-width: 424px;
    }

    .extension__list {        
        grid-template-columns: minmax(348px, 476px);       
    }

    .extension__item {
        padding-left: 30px;
        padding-right: 30px;
    }

    .extension__item_padding {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    /* gallery  */
    .gallery__container {    
        margin-bottom: 211px;
    }

    .gallery__list-second {
        display: none;
    }

    .gallery__list-first {        
        grid-template-columns: 329px;        
    }

    .gallery__item_2 {
        background-image: url(../imges/Rectangle8.png);
    }
    
    .gallery__item_3 {
        background-image: url(../imges/Rectangle9.png);
    }
    
    .gallery__item_4 {
        background-image: url(../imges/Rectangle10.png);
    }  
    
    /* partners */
    .partners__container {    
        margin-bottom: 211px;
    }

    .partners__desc {        
        max-width: 339px;
    }

    .partners__list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-items: center;
        align-items: center;
        gap: 50px;
        padding-bottom: 50px;        
    }

    .partners__link_1 {    
        width: 60px;
        height: 60px;    
    }

    .partners__link_2 {    
        width: 60px;
        height: 61px;
    }

    .partners__link_3 {    
        width: 60px;
        height: 70px;
    }

    .partners__link_4 {    
        width: 56px;
        height: 46px;
    }

    .partners__link_5 {    
        width: 47px;
        height: 51px;
    }

    .partners__link_6 {    
        width: 83px;
        height: 33px;
    }

    /* reviews */
    .reviews__list {        
        grid-template-columns: minmax(352px, 430px);             
    }

    .reviews__item {  
        padding-right: 50px;    
        height: 328px;
    }

    /* footer */
    .footer__container {        
        grid-template-columns: 1fr; 
        gap: 75px;              
        max-width: 378px;         
    }

    .footer__left {        
        grid-template-columns: 1fr;                    
    }
}

@media (max-width: 767px) {
    /* hero */
    .hero__buttons {        
        padding-bottom: 35px;  
    }

    .hero__bg {        
        height: 435px;                
    }
}

@media (max-width: 545px) {
    .container { 
        padding-left: 20px;
        padding-right: 20px;        
    }

    /* hero */
    .hero__bg {        
        height: 350px;                
    }
}

@media (max-width: 375px) {
    button {        
        font-size: 16px;              
    }
    
    .title {        
        font-size: 40px;
        line-height: 100%;       
    }   
    
    .desc {        
        font-size: 17px;        
    }
    
    /* header */
    .header__logo {
        width: 122px;
        height: 35px;        
    }

    .header__btn {
        padding: 7px 25px;
        font-size: 16px;      
    }

    /* hero */
    .hero__title {           
        font-size: 50px;
        line-height: 100%;       
    }

    /* scope */
    .scope__bg {          
        width: 100%;       
        height: 280px;         
    }

    .scope__bg::after {       
        width: 210px;
        height: 150px;        
        left: 13%;
    }

    .scope__desc-mini {        
        font-size: 14px;
    }

    .scope__icon-title {
        padding-bottom: 20px;
    }

    /* extension */
    .extension__list {      
        grid-template-columns: 100%;
    }

    .extension__item {
        gap: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .extension__item_padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .extension__desc-mini { 
        font-size: 14px;       
    }

    .extension__btn {
        padding-left: 20px;
        padding-right: 20px;
    }

    .extension__bg_left {        
        height: 180px;        
    }
    
    .extension__bg_right {        
        height: 200px;        
    }

    /* gallery */
    .gallery__list-first {        
        grid-template-columns: 280px;        
    }

    /* partners */
    .partners__list {        
        gap: 35px;        
    }

    /* reviews */
    .reviews__list {        
        grid-template-columns: 280px;             
    }

    .reviews__item {         
        padding: 20px;        
    }  
    
    .reviews__customer {        
        margin-bottom: 50px;
    }

    .reviews__desc {
        font-size: 14px;        
    }
}