@media (max-width: 992px) {
    a:active {
        color:  var(--blue);    
    }

    button:active {
        background-color: var(--blue);
        border-color: var(--blue);  
    }
    
    .container { 
        padding-left: 50px;
        padding-right: 50px;        
    }

    /* header */
    .header__container {
        padding: 28px 26px; 
        margin-bottom: 67px;        
    } 

    .header__nav {
        position: absolute;        
        top: 0;        
        left: -250px;
        width: 250px;
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;            
    }

    .header__list { 
        display: block;
        padding-top: 100px;
        padding-left: 16px;       
        gap: 30px;
    }

    .header__link {
        display: block;
        padding: 10px;        
    }

    .header__btn {
        margin-left: auto;
    }

    .header__burger-btn {        
        display: block;
        z-index: 2;        
    }

    .header.open .header__nav{
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
    }

    /* hero */
    .hero__title {
        margin-bottom: 27px;
        max-width: 414px;
        font-size: 52px;
        font-weight: 400;
        line-height: 119.231%;
    }

    .hero__desc {   
        max-width: 426px;        
        margin-bottom: 67px;    
    }

    .hero__buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;    
        gap: 21px;
        margin-bottom: 57px;  
    }

    .hero__bg {  
        height: 700px;   
    }

    .hero__bg::before {
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); 
        width: 100vw;        
        background-size: cover;        
    } 

    .hero__bg::after {        
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(#0E0E0E));        
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 100%);        
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 100%);    
    }

    /* scope */
    .scope__desc {          
        max-width: 426px;    
    }

    .scope__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;    
        -webkit-box-orient: vertical;    
        -webkit-box-direction: normal;    
            -ms-flex-direction: column;    
                flex-direction: column;
        gap: 143px;   
    }

    .scope__bg-img {        
        height: 319px;        
    }

    .scope__bg::after { 
        height: 160px;        
        left: 0;        
    }

    /* extension */
    .extension__desc {   
        max-width: 424px;
    }

    .extension__list {        
        -ms-grid-columns: minmax(348px, 476px);        
        grid-template-columns: minmax(348px, 476px);       
    }

    .extension__item {
        padding-left: 30px;
        padding-right: 30px;
    }

    .extension__item_padding {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    /* gallery  */
    .gallery__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .gallery__list_none {
        display: none;
    }
       
    /* partners */
    .partners__desc {        
        max-width: 339px;
    }

    .partners__list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto 50px auto 50px auto;
        grid-template-columns: repeat(3, auto);
        justify-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 50px;        
    }

    .partners__link_1 {    
        width: 60px;
        height: 60px;    
    }

    .partners__link_2 {    
        width: 60px;
        height: 61px;
    }

    .partners__link_3 {    
        width: 60px;
        height: 70px;
    }

    .partners__link_4 {    
        width: 56px;
        height: 46px;
    }

    .partners__link_5 {    
        width: 47px;
        height: 51px;
    }

    .partners__link_6 {    
        width: 83px;
        height: 33px;
    }

    /* reviews */
    .reviews__list {        
        -ms-grid-columns: minmax(352px, 430px);        
        grid-template-columns: minmax(352px, 430px);             
    }

    .reviews__item {  
        padding-right: 50px;        
    }

    /* footer */
    .footer__center {        
        -ms-grid-columns: 1fr;        
        grid-template-columns: 1fr; 
        gap: 75px;        
        max-width: 378px;             
    }

    .footer__left {        
        -ms-grid-columns: 1fr;        
        grid-template-columns: 1fr;                    
    }
}

@media (max-width: 768px) {
    /* hero */
    .hero__buttons {        
        margin-bottom: 35px;  
    }

    .hero__bg {        
        height: 435px;                
    }
}

@media (max-width: 545px) {
    .container { 
        padding-left: 20px;
        padding-right: 20px;        
    }

    /* header */
    .header__container {
        gap: 15px;
    }

    .header__btn {
        padding: 8px 35px;        
    }

    /* hero */
    .hero__bg {        
        height: 350px;                
    }
    
    /* extension */
    .extension__bg_left {        
        height: 175px;        
    }   
}

@media (max-width: 375px) {
    button {        
        font-size: 16px;              
    }
    
    .title {        
        font-size: 40px;
        line-height: 100%;       
    }   
    
    .desc {        
        font-size: 17px;        
    }
    
    /* header */
    .header__logo {
        width: 122px;
        height: 35px;        
    }

    .header__btn {
        padding: 7px 25px;
        font-size: 16px;      
    }

    /* hero */
    .hero__title {           
        font-size: 50px;
        line-height: 100%;       
    }

    /* scope */
    .scope__bg::after {    
        height: 150px;       
    }

    .scope__desc-mini {        
        font-size: 14px;
    }

    .scope__icon-title {
        margin-bottom: 20px;
    }

    /* extension */
    .extension__list {      
        -ms-grid-columns: 100%;      
        grid-template-columns: 100%;
    }

    .extension__item {
        gap: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .extension__item_padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .extension__desc-mini { 
        font-size: 14px;       
    }

    .extension__btn {
        padding-left: 20px;
        padding-right: 20px;
    }

    .extension__bg_left {        
        height: 180px;        
    }
    
    .extension__bg_right {        
        height: 200px;        
    }    

    /* partners */
    .partners__list {        
        gap: 35px;        
    }

    /* reviews */
    .reviews__list {        
        -ms-grid-columns: 280px;        
        grid-template-columns: 280px;             
    }

    .reviews__item {         
        padding: 20px;        
    }  
    
    .reviews__customer {        
        margin-bottom: 50px;
    }

    .reviews__desc {
        font-size: 14px;        
    }     
}